<div id="menu">
    <div class="ms-CommandBar ms-CommandBar--navBar">
        <div id="menu-side-commands" class="ms-CommandBar-sideCommands">
            <div class="ms-CommandButton ms-CommandButton--noLabel" ng-click="reset()">
                <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                        <i class="ms-Icon ms-Icon--Refresh"></i>
                    </span> 
                    <span class="ms-CommandButton-label"></span> 
                </button>
            </div>
            <div class="ms-CommandButton ms-CommandButton--noLabel" ng-click="toggleInfo()">
                <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                        <i class="ms-Icon ms-Icon--Info"></i>
                    </span> 
                    <span class="ms-CommandButton-label"></span> 
                </button>
            </div>
        </div>
        <div class="ms-CommandBar-mainArea">
            <div class="ms-CommandButton ms-CommandButton--pivot" ng-class="{ 'is-active': showDetails }" ng-click="toggleMenu('details')">
                <a class="ms-CommandButton-button">
                    <span class="ms-CommandButton-label">Object details</span>
                </a>
            </div>
            <div class="ms-CommandButton ms-CommandButton--pivot" ng-class="{ 'is-active': showFilters }" ng-click="toggleMenu('filters')">
                <a class="ms-CommandButton-button">
                    <span class="ms-CommandButton-label">Filter options</span>
                </a>
            </div>
        </div>
    </div>

    <div id="menu-content">
        <div id="nodeDetail" class="tabContent" ng-show="showDetails">
            <div id="jsonWindow">
                <json-formatter json="json" open="1"></json-formatter>
            </div>
        </div>
        <div id="filters" class="tabContent" ng-show="showFilters">
            <div class="ms-MessageBar">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-icon">
                        <i class="ms-Icon ms-Icon--Info"></i>
                    </div>
                    <div class="ms-MessageBar-text">
                        Filter data and relationships that you would like to see. Different entities have different filters that you can apply.
                    </div>
                </div>
            </div>
            <div ng-repeat="item in typeColors | nodeFilters:type" class="filterItem">
                <div class="ms-Toggle" ng-click="toggleFilter(item);$event.preventDefault()">
                    <span class="ms-Toggle-description ng-binding">{{item.text}}</span> 
                    <input type="checkbox" id="demo-toggle-3" class="ms-Toggle-input ng-pristine ng-untouched ng-valid ng-empty">
                    <label  ng-style="{ 'border-color' : item.show ? item.color : '#333', 'background-color' : item.show ? item.color : '#fff' }"  class="ms-Toggle-field" tabindex="0" ng-class="{ 'is-selected': item.show }">
                        <span class="ms-Label ms-Label--off">Off</span> 
                        <span class="ms-Label ms-Label--on">On</span> 
                    </label>
                </div>
                <label class="ms-Label" ng-show="item.more">
                    <span>There is more data available,</span>
                    <span class="load-more-label ms-fontColor-themePrimary" ng-click="toggleMore(item)">click here</span>
                    <span>if you would like to load it.</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div id="legend">
    <h2 class="ms-font-xl">Legend</h2>
    <div class="legendItem" ng-repeat="item in typeColors | filter:{ show: true }">
        <div class="legendItemSwatch" ng-style="{ 'background-color' : item.color }"></div>
        <label class="legendItemText ms-font-s-plus">{{item.text}}</div>
    </div>
</div>