<div id="menu">
    <div id="menuTabs">
        <div class="menuTab" ng-click="toggleMenu('details')" ng-class="{ 'selected': showDetails }">Object Details</div>
        <div class="menuTab" ng-click="toggleMenu('filters')" ng-class="{ 'selected': showFilters }">Filter Options</div>
    </div>
    <div id="nodeDetail" class="tabContent" ng-show="showDetails">
        <div id="jsonWindow">
            <json-formatter json="json" open="1"></json-formatter>
        </div>
    </div>
    <div id="filters" class="tabContent" ng-show="showFilters">
        <div ng-repeat="item in typeColors | nodeFilters:type" class="filterItem">
            <div class="textContainer">Show {{item.text}}</div>
            <div class="switchContainer"><switch ng-model="item.show" ng-style="{ 'border-color' : item.color, 'background': (item.show) ? item.color : '#fff' }" ng-change="toggleFilter(item)"></switch></div>
            <div class="textContainer linkLabel" ng-show="item.more" ng-click="toggleMore(item)">Get more</div>
        </div>
    </div>
</div>
<div id="legend">
    <h2>Legend</h2>
    <div class="legendItem" ng-repeat="item in typeColors | filter:{ show: true }">
        <div class="legendItemSwatch" ng-style="{ 'background-color' : item.color }"></div>
        <div class="legendItemText">{{item.text}}</div>
    </div>
</div>