body {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#header {
    position: absolute;
    height: 39px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #111;
    border-bottom: 1px solid #BAD80A;
}

#header .icon {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #BAD80A;
    margin: 7px;
    float: left;
}

#header h1 {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 2px;
    float: left;
}

#divCanvas {
    position: absolute;
    background-color: #333;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 0px;
    z-index: 500;
}

.spinner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1000;
}

.spinnerContent {
    position: absolute;
    width: 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}

.spinnerMask {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000;
    opacity: .5;
}

#menu {
    position: absolute;
    width: 320px;
    right: 0;
    top: 0px;
    bottom: 0px;
    background: #111;
    -webkit-transition: right .5s; /* Safari */
    transition: right .5s;
}

#menuTabs {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
}

.menuTab {
    width: 159px;
    height: 29px;
    background-color: #111;
    float: left;
    text-align: center;
    padding-top: 10px;
    border-left: 1px solid #BAD80A;
    border-bottom: 1px solid #BAD80A;
    cursor: pointer;
}

.menuTab.selected {
    background-color: #222;
    border-bottom: 1px solid #222;
}

.tabContent {
    position: absolute;
    width: 320px;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #222;
    padding: 10px;
    border-left: 1px solid #BAD80A;
}

#jsonWindow {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 30px;
    background: #ddd;
    padding: 5px;
    overflow: hidden;
}

#legend {
    position: absolute;
    left: 20px;
    width: 150px;
    top: 50px;
    background-color: #111;
    border: 1px solid #BAD80A;
    padding: 10px;
}

#legend H2 {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 8px;
}

.legendItem {
    width: 100%;
    float: left;
    display: block;
    padding-bottom: 5px;
}

.legendItem .legendItemSwatch {
    float: left;
    width: 18px;
    height: 18px;
}

.legendItem .legendItemText {
    float: left;
    width: 112px;
    padding-left: 10px;
}

.switch {
  /* frame */
  width: 42px;
  height: 20px;
  border-radius: 10px;
}
.switch small {
  /* button */
  height: 18px;
  width: 18px;
  border: 1px solid #666
}
.switch.checked {
  /* frame when enabled */
  border-color: #fff;
}
.switch.checked small {
  /* button when enabled */
  left: 22px;
}

#menuContent h2 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.filterItem {
    width: 100%;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}

.switchContainer {
    float: left;
    width: 70px;
    display: block;
}

.textContainer {
    float: left;
    padding-left: 10px;
    width: 210px;
    display: block;
}

.loginContainer {
    position: absolute;
    z-index: 1100;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.loginContainer .loginModal {
    position: absolute;
    z-index: 1200;
    width: 320px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -100px;
    border: 1px solid #BAD80A;
    background: #333;
    padding: 20px;
}

.loginContainer .loginModal button {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    font-size: 14px;
    background-color: #BAD80A;
    color: #fff;
    border: 1px solid #fff;
}

.loginContainer .loginMask {
    position: absolute;
    z-index: 1100;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.5;
}

.linkLabel {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -5px;
}